![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

# SINDROME METABOLICO

### TEMA

El síndrome metabólico es un conjunto de condiciones médicas que incluyen obesidad abdominal, presión arterial alta, niveles elevados de azúcar en sangre, alteraciones en los lípidos sanguíneos y resistencia a la insulina. Estos factores aumentan el riesgo de enfermedades cardíacas, diabetes tipo 2 y accidentes cerebrovasculares. Suele estar relacionado con el estilo de vida poco saludable y su manejo implica cambios en la dieta, ejercicio y, a veces, medicamentos.
El objetivo del presenta EDA es identificar patrones, relaciones y posibles predictores del síndrome metabólico, así como comprender cómo estos factores influyen en su aparición o desarrollo, y proporcionar información variada sobre características médicas y demográficas de individuos, con el propósito de investigar y comprender mejor los factores asociados al síndrome metabólico y posiblemente ofrecer información relevante para su diagnóstico, prevención o tratamiento.

### HIPÓTESIS

**Hipotesis Principal** = Identificar patrones, relaciones y posibles predictores del síndrome metabólico, así como comprender cómo estos factores influyen en su aparición o desarrollo.

**Hipotesis_1** = ¿Las personas obesesas tienen mayor riesgo de sufrir de Sindrome Metabólico?

**Hipotesis_2** = ¿Cual es el impacto de altos niveles de azúcar y lípidos en el Sindrome Metábolico?

**Hipotesis_3** = Determinar la prevalencia del síndrome metabólico en diferentes grupos demográficos (edad, sexo, raza, estado civil, ingresos, etc.)

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [7]:
import pandas as pd
df_sindrome_metabolico = pd.read_csv(".\MetabolicSyndrome.csv")

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [5]:
df_sindrome_metabolico.head(10)

,seqn,Age,Sex,Marital,Income,Race,WaistCirc,BMI,Albuminuria,UrAlbCr,UricAcid,BloodGlucose,HDL,Triglycerides,MetabolicSyndrome
0,62161,22,Male,Single,8200.0,White,81.0,23.3,0,3.88,4.9,92,41,84,0
1,62164,44,Female,Married,4500.0,White,80.1,23.2,0,8.55,4.5,82,28,56,0
2,62169,21,Male,Single,800.0,Asian,69.6,20.1,0,5.07,5.4,107,43,78,0
3,62172,43,Female,Single,2000.0,Black,120.4,33.3,0,5.22,5.0,104,73,141,0
4,62177,51,Male,Married,NaN,Asian,81.1,20.1,0,8.13,5.0,95,43,126,0
5,62178,80,Male,Widowed,300.0,White,112.5,28.5,0,9.79,4.8,105,47,100,0
6,62184,26,Male,Single,9000.0,Black,78.6,22.1,0,9.21,5.4,87,61,40,0
7,62189,30,Female,Married,6200.0,Asian,80.2,22.4,0,8.78,6.7,83,48,91,0
8,62191,70,Male,Divorced,1000.0,Black,NaN,NaN,1,45.67,5.4,96,35,75,0
9,62195,35,Male,NaN,2500.0,Black,99.0,28.2,0,2.21,6.7,94,46,86,0

In [6]:
df_sindrome_metabolico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2401 entries, 0 to 2400
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   seqn               2401 non-null   int64
 1   Age                2401 non-null   int64
 2   Sex                2401 non-null   object
 3   Marital            2193 non-null   object
 4   Income             2284 non-null   float64
 5   Race               2401 non-null   object
 6   WaistCirc          2316 non-null   float64
 7   BMI                2375 non-null   float64
 8   Albuminuria        2401 non-null   int64
 9   UrAlbCr            2401 non-null   float64
 10  UricAcid           2401 non-null   float64
 11  BloodGlucose       2401 non-null   int64
 12  HDL                2401 non-null   int64
 13  Triglycerides      2401 non-null   int64
 14  MetabolicSyndrome  2401 non-null   int64
dtypes: float64(5), int64(7), object(3)
memory usage: 281.5+ KB